<h4>Tabuada de 2</h4>
<p>2 x 1 = <strong>{{ 2 | multiplicaPor: 1}}</strong> </p>
<p>2 x 2 = <strong>{{ 2 | multiplicaPor: 2}}</strong> </p>
<p>2 x 3 = <strong>{{ 2 | multiplicaPor: 3}}</strong> </p>
<p>2 x 4 = <strong>{{ 2 | multiplicaPor: 4}}</strong> </p>
<p>2 x 5 = <strong>{{ 2 | multiplicaPor: 5}}</strong> </p>
<p>2 x 6 = <strong>{{ 2 | multiplicaPor: 6}}</strong> </p>
<p>2 x 7 = <strong>{{ 2 | multiplicaPor: 7}}</strong> </p>
<p>2 x 8 = <strong>{{ 2 | multiplicaPor: 8}}</strong> </p>
<p>2 x 9 = <strong>{{ 2 | multiplicaPor: 9}}</strong> </p>
<p>2 x 10 = <strong>{{ 2 | multiplicaPor: 10}}</strong> </p>
